@model LMS4Carroll.Models.PhyEquipment

@{
    ViewData["Title"] = "Details | Phy Equipment";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Physics Equipment Details</div>
    <div class="panel-body">
        <br />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SerialNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InstalledDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InstalledDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InspectionDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InspectionDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EquipmentModel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EquipmentModel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EquipmentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EquipmentName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LocationID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LocationID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
            </dl>
        </div>
        <div id="deletebtn">
            <div class="form-actions no-color">
                <a asp-action="Index" class="btn btn-default">
                    <i class="glyphicon glyphicon-arrow-left"></i> Back to List
                </a>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.PhyEquipmentID">Edit</a><br />
            </div>
        </div>
    </div>
</div>
